@import '~@angular/material/theming';

@import 'swatch-core';

@import '../app/app.component.theme';
@import '../app/getting-started/getting-started.component.theme';
@import '../app/prism/prism.component.theme';
@import '../app/color-card/color-card.component.theme';

@mixin swatch-theme($theme) {
  $is-dark: map-get($theme, is-dark);
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  a:not(.mat-button) {
    color: if($is-dark, mat-color($accent), mat-color($primary));
  }

  @include swatch-typography();

  @include app-theme($theme);
  @include getting-started-theme($theme);
  @include prism-theme($theme);
  @include color-card-theme($theme);
}

@mixin swatch-typography() {
  $typography: mat-typography-config(
    $font-family:   'Roboto, "Helvetica Neue", sans-serif',
    $display-4:     mat-typography-level(112px, 112px, 300),
    $display-3:     mat-typography-level(56px, 56px, 400),
    $display-2:     mat-typography-level(45px, 48px, 400),
    $display-1:     mat-typography-level(34px, 36px, 400),
    $headline:      mat-typography-level(32px, 36px, 400),
    $title:         mat-typography-level(24px, 36px, 500),
    $subheading-2:  mat-typography-level(20px, 32px, 400),
    $subheading-1:  mat-typography-level(19px, 28px, 400),
    $body-2:        mat-typography-level(16px, 26px, 500),
    $body-1:        mat-typography-level(16px, 22px, 400),
    $caption:       mat-typography-level(12px, 20px, 400),
    $button:        mat-typography-level(14px, 14px, 500),
    // Line-height must be unit-less fraction of the font-size.
    $input:         mat-typography-level(18px, 1.125, 400)
  );

  @include angular-material-typography($typography);

  @include app-typography($theme);
  @include getting-started-typography($theme);
  @include prism-typography($theme);
  @include color-card-typography($theme);
}
