.example-div {
  padding: 32px;
  margin: 16px 0 32px 0;
  border-radius: 2px;
}

.mark {
  display: inline-block;
  padding: 1px 0;
  margin: 16px 0;
  overflow: auto;
  max-width: 100%;
}
