@import '~@angular/material/theming';

@mixin getting-started-component-theme($theme) {
  $primary: map-get($theme, primary);

  .mark {
    background: mat-color($primary, lighter, 0.2);
    color: mat-color($primary, lighter-contrast);
  }
}
