h3 {
  margin-bottom: 16px;
}

.color-code {
  margin: 8px 0;
}

.color-sample {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 2px;
  border: 2px solid;
  margin-right: 8px;
}